---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 15px/1.8 $Merriweather;
  color: $darkGray;
}

.home {
    background: $lighterGray;
}

.blog {
    background: $white; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: $DMSerif;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 30px 0;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  margin-top: 120px;
  text-decoration: overline;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
  margin-left: 30px;

  @include mobile {
      margin-left: 15px;
  }
}

h3 {
  font-size: 20px;
  margin-left: inherit;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 30px;

  @include mobile {
      margin: 20px 15px;
  }
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 30px 30px 30px 10px;
  padding-left: 60px;

  @include mobile {
      margin-left: 0;
      padding-left: 30px;
  }
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

li {
  padding-left: 30px;

  @include mobile {
      padding-left: 15px;
  }
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  margin: 60px 0;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

img.centered, .posts img.left, .posts img.right {
  display: block;
  margin: 60px auto;
  max-width: 100%;
}

.posts img.left, .posts img.right {
    margin: 0;
    float: none;
}

img.left {
    float: left;
    margin-top: 10px;
    margin-right: 60px;
    margin-bottom: 60px;
    max-width: 40%;

    @include mobile {
        float: none;
        margin: 15px 0;
        max-width: 100%;
    }
}

img.right {
    float: right;
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 60px;
    max-width: 45%;

    @include mobile {
        float: none;
        margin: 15px 0;
        max-width: 100%;
    }
}

.text-align-center {
  text-align: center;
}

.youtube-wrapper {
  position: relative;
  margin: 60px 30px;
  height: 0;
  padding-bottom: 56.25%;

  @include mobile {
      margin: 40px 15px;
  }
}

.youtube-wrapper.left {
    
}

.youtube-wrapper.right {
}

.youtube-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.title {
    font-size: 48px;
    a {
        color: inherit;
    }

    font-family: $DMSerif;
    color: $black;
    font-weight: bold;
    line-height: 1.25;
    margin: 12px 0 48px 0;
    padding: 0;

    @include mobile {
        line-height: 1.4;
    }
}

.subtitle {
  font-size: 18px;
  a {
    color: inherit;
  }
  font-family: $Martian;
  color: $gray;
  font-weight: 400;
  font-kerning: auto;
  text-transform: uppercase;

  line-height: 1.7;
  margin: 1.5em 0 0;
  padding: 0;
  letter-spacing: .025em;

  @include mobile {
    line-height: 1.4;
  }
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  //margin-bottom: 30px;
}

.container {
    background: $lighterGray;
    border-bottom: 1px solid $lightGray;
}

.masthead {
    padding: 10px 10px;
    max-width: 740px;
    margin: 0 auto;
}

.grid-container .site-avatar img, .site-avatar img {
    width: 90px;
    height: 90px;
    display: block;
    object-fit: scale-down;
    margin: 60px 0 40px;

    @include mobile {
        margin: 60px auto 40px;
        width: 70px;
        height: 70px;
    }
}

.masthead .site-avatar img {
    width: 50px;
    height: 50px;
    float:left;
    margin: 0;

    @include mobile {
        width: 30px;
        height: 30px;
    }
}

.site-avatar img {
    width: 75px;
    height: 75px;
}

.site-info {

  @include mobile {
    float: none;
    display: block;
  }
}

.site-name {
  margin: 30px 10px 30px;
  color: $darkGray;
  cursor: pointer;
  font-family: $Martian;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: -1px;

  @include mobile {
      margin: 0;
      text-align: center;
      font-size: 18px;
  }
}

.masthead .site-name {
    font-size: 18px;
    margin: .7em 10px;
    float: left;

    @include mobile {
        font-size: 14px;
        margin: .4em 10px;
    }
}

.site-description {
  font-family: $Merriweather;
  color: $darkGray;
  font-size: 16px;
  margin: 40px 10px 80px;

  @include mobile {
    margin: 40px 0 80px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5em;
  }
}

.byline {
    font-size: 11px;
    color: $lightGray;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 10px;

    @include mobile {
        text-align: center;
    }
}
 

nav {
    float: right;
    margin-top: 23px; // @TODO: Vertically middle align
    font-family: $DMSerif;
    font-size: 18px;

    @include mobile {
        float: none;
        margin-top: 9px;
        display: block;
        font-size: 16px;
    }

    a {
        margin-left: 20px;
        color: $darkGray;
        text-align: right;
        font-weight: 300;
        letter-spacing: 1px;

        @include mobile {
            margin: 0 10px;
            color: $blue;
        }
    }
}

//
// .main
//

.grid-container {
    margin: 0px auto;
    max-width: 1400px;
    padding: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px 30px;
    align-items: stretch;

    @include mobile {
        padding: 15px;
    }
}

.grid-container > header.post {
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.6965379901960784) 0%, rgba(255,255,255,0.5032606792717087) 100%);
    box-shadow: none;
    border: none;
    padding: 15px;
    display: inline;
    align-self: start;

    @include mobile {
        padding: 40px;
    }
}

.grid-container > .post {
    border-bottom: 1px solid $lightGray;
    border-radius: 4px;
    background: rgb(255,255,255);
    background: linear-gradient(159deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8954175420168067) 100%);
}

.grid-container .title {
    font-size: 36px;
    margin: .25em 15px 3em;
}

.grid-container .subtitle {
    font-size: 15px;
    margin: 1em 15px .25em;
}

.grid-container img {
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 300px; 
}

.grid-container .youtube-wrapper {
    margin: 0;
    width: 100%;
    height: 200px;
}

.post {
    padding: 15px;
    max-width: 740px;
    margin: 0 auto;
    background: $white;

    blockquote {
        margin: 1.8em .8em;
        border-left: 2px solid $gray;
        padding: 0.1em 1em;
        color: $gray;
        font-size: 22px;
        font-style: italic;
    }

    .comments {
        margin-top: 10px;
    }
}

.wrapper-footer {
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
